


/*preloader starts*/

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after {
    content: '';
    border: 1em solid #E91E63;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0; }
    50% {
        opacity: 1; }
    100% {
        transform: scale(1);
        opacity: 0; }
}


/*preloader ends*/







*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Josefin Sans', sans-serif;
}







#bannerhome{
	
display: block; !important
width: 100%; height: 100vh;
background-size: cover;
animation-name:bganim; animation-duration: 40s;
/*animation-direction: linear;*/
animation-timing-function:  linear;
animation-iteration-count: infinite;
background-position: center;
opacity: 0.7;

}


@keyframes bganim {
0%{
background-image: url('haridwar-687346_1920.jpg'); !important
}
20%{
background-image: url('shriMartand.jpg'); !important 
}
30%{
background-image: url('stonehampi.jpg');  !important
}
50%{
background-image: url('shreekrishna.jpg');  !important
}
70%{
background-image: url('sribuddha.jpg');  !important
}
80%{
background-image: url('shrigajanand.jpg');  !important
}
/*75%{
background-image: url('Mahasamudramanthan.jpg');
}*/
100%{
background-image: url('wheel.jpg');
}
}

#navigation{
width: 100%;
/*height: 15vh;*/
color: white;
background: rgba(0,0,0,0.7);
display: flex;
justify-content: space-between;
align-items: center;

}

nav .logo{
width: 30%;
 text-align: center;
text-transform: uppercase; 
margin-right: 250px;


}

nav .bannerimg{

	width: 45px;
	margin-left: 30px;
}


/*
nav .menu{
	
/*width: 60%;*/
/*display: flex; justify-content: space-around;
text-transform: uppercase;
font-weight: bold;*/
/*margin-right: 50px;*/
/*}*/

nav .menu a{

	/*padding: 10px 0;*/
		font-weight: bold;
	text-decoration: none;
	color: white;
	transition: 1s;
	
}

	nav .menu a:first-child{
		
		color: #F0DD27;

	}

	nav .menu a:hover{

		border-bottom: 2px solid #F0DD27;
		color: red !important;
	}


main{
width: 100%;
height: 80vh;
display: flex;
justify-content: center;
align-items: center; color: white;
text-align: center;



}

section{
	color: white;
	margin-bottom:100px;

	
}


section h3{
	font-size: 25px;
	font-weight: 200;
	letter-spacing: 3px;
	text-shadow: 1px 1px 2px black;
}

section h1{

	margin: 30px 0 20px 0;
	font-size: 40px;
	font-weight: 700;
	text-shadow: 2px 1px 5px black;
	text-transform: uppercase;
}

	section p .toppara{

		font-size: 25px;
		word-spacing: 2px;
		margin-bottom: 25px;
		text-shadow: 1px 1px 1px black;
	}
		
		section a{

			padding: 12px 30px;
			border-radius:4px;
			outline: none;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 500;
			text-decoration: none;
			letter-spacing: 1px;
		}
		
		section .btnone{

			background: #fff;
			color: #000;
			transition: 1s;
		}
	
	section  .btntwo{
		background: #F0DD27;
		color: white;
		transition: 1s;
	}


	section .btnone:hover{
		background: #F0DD27;
		color: white;
	}

	section .btntwo:hover{
		background: #fff;
		color: #000;
	}






.change_text:after{

	content: '';
	animation:changetext 40s infinite linear ;
	animation-delay: 0.3s;
	color:#F0DD27;
}
	


@keyframes changetext{

	0%{content:"Haridwar";}
	20%{content:"Kashmir";}
	30%{content:"Karnataka";}
	55%{content:"Mathura";}
	70%{content:"Bihar";}
	85%{content:"Delhi";}
	100%{content:"Madhya Pradesh";}
}


#ht{

	height: 400px;

}



.card{

	background-color: #65d40061; !important
}



.card:hover{

	-webkit-box-shadow: 5px 6px 15px 16px rgba(214,224,74,0.75);
-moz-box-shadow: 5px 6px 15px 16px rgba(214,224,74,0.75);
box-shadow: 5px 6px 15px 16px rgba(214,224,74,0.75);
	cursor: pointer;
}



.appdisplay img{

	display:inline-block;
	

}

.iphone{

	width:500px;
	height:330px;


}


.android{

	width:450px;
	height:250px;
}

.ipad{

	height:300px;
	width:350px;
}












